<header class="header">
  <div class="header__primary container">
    <a class="header__logo" [routerLink]="['/']"><img src="../assets/img/logo--large.png" alt="baniere 2 français au québec"></a>
    <h1 class="header__title">
      <a class="header__title__container" [routerLink]="['/']">
        <span class="header__title__number">2</span>
        <span class="header__title__content">
                <span class="header__title__item">français au</span>
                <span class="header__title__item">québec</span>
            </span>
      </a>
    </h1>
  </div>

  <div class="header__nav container">
    <button class="header__nav__trigger">
      <app-burger></app-burger>
      Menu
    </button>

    <!--For mobile display-->
    <app-lang-switcher></app-lang-switcher>

    <div class="header__nav__content">
      <div class="header__nav__primary">
        <app-nav></app-nav>
        <app-social-networks></app-social-networks>
        <app-lang-switcher></app-lang-switcher>
      </div> <!-- /.header__nav__primary -->
    </div> <!-- /.header__nav__content -->

    <!--TODO Ng if client is on 'article' page-->
    <div class="header__nav__secondary" *ngIf="isVisible">
      <app-reading-tools></app-reading-tools>
    </div> <!-- /.header__nav__secondary -->
  </div> <!-- /.header__nav.container -->
</header> <!-- /.header -->
