@import "../../assets/sass/_main.scss";

.header {
  padding-top: 20px;

  &__primary {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: none;
    width: 250px;

    @include respond-to(medium) {
      display: block;
    }
  }

  &__title {

    &__container {
      display: flex;
      align-items: center;
    }

    * {
      font-family: font(secondary);
      text-decoration: none;
    }

    &__number {
      @include font-size(200px);
    }

    &__content {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }

    &__item {
      text-transform: uppercase;
      @include font-size(55px);

      &:last-child {
        @include font-size(100px);
      }
    }
  }

  &__nav {
    text-align: center;
    margin-top: -40px;

    @include respond-to(medium) {
      margin-top: inherit;
    }

    &__trigger {
      appearance: none;
      border: 0;
      margin: 0;
      padding: 0;
      outline: none;
      cursor: pointer;
      font-family: font(secondary);
      @include font-size(45px);

      @include respond-to(medium) {
        display: none;
      }
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      @include transition();

      @include respond-to(medium) {
        max-height: 300px;
      }

      .is-open & {
        max-height: 300px;
      }
    }

    &__primary {
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include respond-to(medium) {
        flex-direction: row;
        align-items: center;
      }

      * {
        font-family: font(secondary);
        text-decoration: none;
        color: color(foreground);
        @include font-size(45px);
      }

      .socials-networks {
        margin-left: 5px;
      }
    }

    &__secondary {
      display: flex;
      justify-content: center;

      .reading-tools {
        @include respond-to(medium) {
          margin: 10px 0 0 0;
        }
      }
    }
  }
}
