
<footer class="footer container">
  <nav class="nav-secondary">
    <a [routerLink]="['/']">Accueil</a>
    <a [routerLink]="['/','infos']">À propos</a>
    <a href="https://www.facebook.com/2francaisauquebec">Facebook</a>
    <a href="https://twitter.com/2FRauQC">Twitter</a>
    <a [routerLink]="['/','rss']">RSS</a>
    <a href="mailto:axelbaron@outlook.fr">Email</a>
  </nav>
  <div class="footer__copyright">
    © BDs / illustrations & site web par Axel Baron - Tous droits réservés depuis 2014 jusqu'à l'infini.
  </div>
</footer>
