
<footer class="footer container">
  <nav class="nav-secondary">
    <a [routerLink]="['/']">Accueil</a>
    <a [routerLink]="['/','infos']">À propos</a>
    <a href="https://www.facebook.com/2francaisauquebec" target="_blank">Facebook</a>
    <a href="https://twitter.com/2FRauQC" target="_blank">Twitter</a>
    <a href="https://www.instagram.com/2frauqc/" target="_blank">Instagram</a>
    <a href="" target="_blank">Tipeee</a>
    <a href="mailto:axelbaron@outlook.fr">Email</a>
  </nav>
  <div class="footer__copyright">
    © BDs / illustrations & site web par <a href="https://twitter.com/fantomtracks" target="_blank">fantomtracks</a> - Tous droits réservés depuis 2014 jusqu'à l'infini.
  </div>
</footer>
