<section class="section container">
  <article class="article">
    <h2 class="title">Infos</h2>

    <div class="article__content">
      <p>
        La bande dessinée '2 français au Québec' est un témoignage de notre aventure
        lors de nos études au Québec. Résidants en internat dans une contré reculé,
        nous racontons en BD nos joies, nos rencontres et nos malheurs lors de nos études là-bas.
      </p>
      <p>
        Très amusés par les clichés au début de notre aventure, nous apprenons au fur et
        à mesure à s'ouvrir et découvrir une culture profonde. Cette histoire est
        un témoignage d'une période marquante de notre vie que nous avions envie
        de partager avec nos proches.
      </p>
      <p>
        Cette BD est dédicassé en particuler à tous ceux que nous avons rencontrés
        sur place, à tous ceux ont rendu se voyage possible, mais aussi à tous les
        étudiants expatriés quels qu'ils soient. <!-- Merci à Timothé Beaurain
        et Maya Friedlberg pour la version anglaise. -->
      </p>
    </div><!--article__content-->
    <a class="link link--back" [routerLink]="['/']">
      <img src="assets/img/arrow.svg" alt="picto arrow" aria-hidden="true">
      Retour au Bds
    </a>
  </article> <!-- /.article -->
</section> <!-- /.section.container -->
