<div class="socials-networks">
  <a href="https://www.facebook.com/2francaisauquebec" class="socials-networks__item">
    <img class="icon icon--facebook" src="assets/img/facebook-logo.svg" alt="Icone facebook" aria-hidden="true">
  </a>
  <a href="https://twitter.com/2FRauQC" class="socials-networks__item">
    <img class="icon icon--twitter" src="assets/img/twitter-logo.svg" alt="Icone twitter" aria-hidden="true">
  </a>
  <a href="" class="socials-networks__item">
    <img class="icon icon--rss" src="assets/img/rss-symbol.svg" alt="Icone rss" aria-hidden="true">
  </a>
  <a href="mailto:axelbaron@outlook.fr" class="socials-networks__item">
    <img class="icon icon--email" src="assets/img/email.svg" alt="Icone e-mail" aria-hidden="true">
  </a>
</div> <!-- /.socials-networks -->
