@import "../../../assets/sass/_main.scss";

.socials-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;

  @include respond-to('medium'){
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 5px;

    img {
      width: 35px;

      .socials-networks__item--tipeee & {
        width: 85px;
      }
    }
  }

  .icon {
    display: inline-block;
    @include transition();

    &--rss {
      width: 30px;
    }

    &--tipeee {
      width: 85px;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}
