<div class="socials-networks">
  <a href="https://www.facebook.com/2francaisauquebec" class="socials-networks__item" target="_blank">
    <img class="icon icon--facebook" src="assets/img/facebook-logo.svg" alt="Icone facebook" aria-hidden="true">
  </a>
  <a href="https://twitter.com/2FRauQC" class="socials-networks__item" target="_blank">
    <img class="icon icon--twitter" src="assets/img/twitter-logo.svg" alt="Icone twitter" aria-hidden="true">
  </a>
  <a href="https://www.instagram.com/2frauqc/" class="socials-networks__item" target="_blank">
    <img class="icon icon--instagram" src="assets/img/instagram-logo.svg" alt="Icone instagram" aria-hidden="true">
  </a>
  <a href="https://fr.tipeee.com/2-francais-au-quebec" class="socials-networks__item" target="_blank">
    <img class="icon icon--tipeee" src="assets/img/tipeee-logo.svg" alt="Icone Tipeee" aria-hidden="true">
  </a>
  <a href="mailto:2francaisauquebec@gmail.com" class="socials-networks__item">
    <img class="icon icon--email" src="assets/img/email.svg" alt="Icone e-mail" aria-hidden="true">
  </a>
</div> <!-- /.socials-networks -->
