<div class="reading-tools">
  <button class="reading-tools__invert-reading-way" type="button" (click)="changeOrder();">
    Sens de lecture
  </button>
  <div class="reading-tools__select-comic">
    <select *ngIf="strips" (change)="selectOnChange($event.target.value)" name="select-comics">
      <option disabled hidden>Selectionner une BD</option>
      <option *ngFor="let strip of strips" value="{{ strip.order }}" (click)="navigate(strip.order)">
        {{ strip.order }}.{{ strip.title }}
      </option>
    </select>
  </div>
</div> <!-- /.reading-tools -->
