<div class="nav-tool">
  <a [ngClass]="{'nav-tool__link--hidden': totalStrips && currentStrip == 0}"
     (click)="previousStrip()"
     class='nav-tool__link nav-tool__link--prev'>
    <img class='icon icon-arrow' src="assets/img/arrow.svg">
    BD précédente
  </a>

  <select *ngIf="strips" (change)="selectOnChange($event.target.value)" name="select-comics">
    <option disabled hidden>Selectionner une BD</option>
    <option *ngFor="let strip of strips" value="{{ strip.order }}" (click)="navigate(strip.order)">
      {{ strip.order }}.{{ strip.title }}
    </option>
  </select>

  <a [ngClass]="{'nav-tool__link--hidden': totalStrips && (currentStrip + 1) >= totalStrips}"
     (click)="nextStrip()"
     class='nav-tool__link nav-tool__link--next'>
    BD suivante
    <img class='icon icon-arrow' src="assets/img/arrow.svg"></a>
</div> <!-- /.nav-tool -->
