<div class="nav-tool">
  <a *ngIf="totalStrips && currentStrip != 0"
     (click)="previousStrip()"
     class='nav-tool__link nav-tool__link--prev'>
    <img class='icon icon-arrow' src="assets/img/arrow.svg">
    BD précédente
  </a>
  <select name="select-comics">
    <option value="">Select comics</option>
  </select>
  <a *ngIf="totalStrips && (currentStrip + 1) < totalStrips"
     (click)="nextStrip()"
     class='nav-tool__link nav-tool__link--next'>
    BD suivante
    <img class='icon icon-arrow' src="assets/img/arrow.svg"></a>
</div> <!-- /.nav-tool -->
