@import "../../../assets/sass/_main.scss";

.nav {
  display: flex;
  flex-direction: column;

  @include respond-to(medium) {
    display: inline-block;
  }

  &__item {
    font-family: font('secondary');
    @include font-size(45px);
    text-transform: uppercase;
    @include transition();

    & + & {
      margin-left: 20px;
    }

    &:hover {
      display: inline-block;
      color: darken(color('foreground'), 10%);
      transform: translateY(-5px);
    }
  }
}
